In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
ddf = pd.read_csv('C:/Users/raclo/Documents/Bootcamp/Project 3/CBS_2021-2023_Daily_Weather.csv', sep=",")

In [6]:
ddf

,Casual,Date,Member,Total_rides,apparent_temperature_mean (°C),temperature_2m_mean (°C),weathercode (wmo code),windspeed_10m_max (km/h)
0,371,2021-01-01,590,961,-0.9,2.3,63,10.6
1,2874,2021-01-02,2844,5718,4.8,7.6,61,19.1
2,495,2021-01-03,1133,1628,0.9,3.9,63,13.0
3,907,2021-01-04,2074,2981,1.0,4.1,3,13.3
4,1057,2021-01-05,2004,3061,1.4,4.0,51,9.2
...,...,...,...,...,...,...,...,...
1090,646,2023-12-27,1934,2580,-8.6,-4.3,71,10.1
1091,3099,2023-12-28,4819,7918,-7.0,-2.5,0,12.8
1092,3491,2023-12-29,5168,8659,-7.8,-3.9,1,9.5
1093,3097,2023-12-30,4497,7594,-7.3,-2.9,1,13.8
1094,2839,2023-12-31,4488,7327,-8.9,-4.6,0,10.2

In [16]:
ddf.head(15)

,Casual,Date,Member,Total_rides,apparent_temperature_mean (°C),temperature_2m_mean (°C),weathercode (wmo code),windspeed_10m_max (km/h)
0,371,2021-01-01,590,961,-0.9,2.3,63,10.6
1,2874,2021-01-02,2844,5718,4.8,7.6,61,19.1
2,495,2021-01-03,1133,1628,0.9,3.9,63,13.0
3,907,2021-01-04,2074,2981,1.0,4.1,3,13.3
4,1057,2021-01-05,2004,3061,1.4,4.0,51,9.2
5,1359,2021-01-06,1753,3112,-1.1,3.4,3,20.8
6,1167,2021-01-07,2143,3310,-1.3,2.9,3,14.4
7,784,2021-01-08,2203,2987,-3.1,0.7,3,12.9
8,1490,2021-01-09,2582,4072,-3.8,1.7,2,19.4
9,1479,2021-01-10,2522,4001,-1.8,2.6,1,18.7
10,677,2021-01-11,2194,2871,-1.8,1.5,3,9.8
11,919,2021-01-12,2725,3644,-2.2,1.3,0,10.2
12,1095,2021-01-13,2788,3883,-1.3,2.1,0,9.7
13,1095,2021-01-14,2702,3797,0.3,3.5,2,9.2
14,924,2021-01-15,2410,3334,1.0,4.4,53,18.9

In [17]:
ddf.tail(15)

,Casual,Date,Member,Total_rides,apparent_temperature_mean (°C),temperature_2m_mean (°C),weathercode (wmo code),windspeed_10m_max (km/h)
1080,2044,2023-12-17,3976,6020,-11.5,-7.4,0,10.9
1081,2381,2023-12-18,6703,9084,-11.3,-7.1,1,10.9
1082,2218,2023-12-19,6791,9009,-11.7,-7.7,3,7.2
1083,2377,2023-12-20,6919,9296,-10.6,-6.5,3,8.7
1084,2317,2023-12-21,6206,8523,-10.7,-6.3,0,13.0
1085,2393,2023-12-22,5197,7590,-10.9,-6.8,1,8.3
1086,2150,2023-12-23,4101,6251,-10.2,-6.1,1,9.8
1087,1518,2023-12-24,2933,4451,-9.2,-5.2,1,10.1
1088,2072,2023-12-25,2263,4335,-8.9,-4.7,1,12.7
1089,1090,2023-12-26,2607,3697,-8.9,-4.8,1,9.4
1090,646,2023-12-27,1934,2580,-8.6,-4.3,71,10.1
1091,3099,2023-12-28,4819,7918,-7.0,-2.5,0,12.8
1092,3491,2023-12-29,5168,8659,-7.8,-3.9,1,9.5
1093,3097,2023-12-30,4497,7594,-7.3,-2.9,1,13.8
1094,2839,2023-12-31,4488,7327,-8.9,-4.6,0,10.2

In [7]:
ddf.shape

(1095, 8)

In [8]:
ddf.describe()

,Casual,Member,Total_rides,apparent_temperature_mean (°C),temperature_2m_mean (°C),weathercode (wmo code),windspeed_10m_max (km/h)
count,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000,1095.000000
mean,3836.715068,5929.492237,9766.207306,12.836438,14.412785,24.391781,16.051050
std,2114.895305,2419.273171,4129.630135,11.889420,9.667675,27.774440,5.880358
min,174.000000,323.000000,497.000000,-15.200000,-9.100000,0.000000,5.600000
25%,2122.000000,4292.500000,6741.500000,2.700000,6.250000,1.000000,11.700000
50%,3595.000000,5848.000000,9759.000000,13.100000,14.900000,3.000000,14.700000
75%,5321.000000,7577.000000,13020.000000,23.400000,22.750000,53.000000,19.400000
max,12839.000000,12580.000000,20174.000000,34.700000,34.700000,75.000000,40.100000

In [9]:
ddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Casual                          1095 non-null   int64
 1   Date                            1095 non-null   object
 2   Member                          1095 non-null   int64
 3   Total_rides                     1095 non-null   int64
 4   apparent_temperature_mean (°C)  1095 non-null   float64
 5   temperature_2m_mean (°C)        1095 non-null   float64
 6   weathercode (wmo code)          1095 non-null   int64
 7   windspeed_10m_max (km/h)        1095 non-null   float64
dtypes: float64(3), int64(4), object(1)
memory usage: 68.6+ KB

In [10]:
ddf.dtypes

Casual                              int64
Date                               object
Member                              int64
Total_rides                         int64
apparent_temperature_mean (°C)    float64
temperature_2m_mean (°C)          float64
weathercode (wmo code)              int64
windspeed_10m_max (km/h)          float64
dtype: object

In [11]:
# Checking for NULLs in the data
ddf.isnull().sum()

Casual                            0
Date                              0
Member                            0
Total_rides                       0
apparent_temperature_mean (°C)    0
temperature_2m_mean (°C)          0
weathercode (wmo code)            0
windspeed_10m_max (km/h)          0
dtype: int64

In [12]:
#Check for duplicates
ddf.duplicated().sum()

0

In [14]:
ddf["Date"] = pd.to_datetime(ddf["Date"])
ddf

,Casual,Date,Member,Total_rides,apparent_temperature_mean (°C),temperature_2m_mean (°C),weathercode (wmo code),windspeed_10m_max (km/h)
0,371,2021-01-01,590,961,-0.9,2.3,63,10.6
1,2874,2021-01-02,2844,5718,4.8,7.6,61,19.1
2,495,2021-01-03,1133,1628,0.9,3.9,63,13.0
3,907,2021-01-04,2074,2981,1.0,4.1,3,13.3
4,1057,2021-01-05,2004,3061,1.4,4.0,51,9.2
...,...,...,...,...,...,...,...,...
1090,646,2023-12-27,1934,2580,-8.6,-4.3,71,10.1
1091,3099,2023-12-28,4819,7918,-7.0,-2.5,0,12.8
1092,3491,2023-12-29,5168,8659,-7.8,-3.9,1,9.5
1093,3097,2023-12-30,4497,7594,-7.3,-2.9,1,13.8
1094,2839,2023-12-31,4488,7327,-8.9,-4.6,0,10.2

In [15]:
ddf.dtypes

Casual                                     int64
Date                              datetime64[ns]
Member                                     int64
Total_rides                                int64
apparent_temperature_mean (°C)           float64
temperature_2m_mean (°C)                 float64
weathercode (wmo code)                     int64
windspeed_10m_max (km/h)                 float64
dtype: object